<div class="card">
  <p-toolbar>
    <ng-template #start>
      <p-button
        icon="pi pi-plus"
        class="mr-2"
        text
        (click)="create()"
        severity="secondary"
        label="Создать"
      />
      <p-button
        icon="pi pi-pencil"
        class="mr-2"
        text
        [disabled]="!selectedElem()"
        (click)="edit()"
        severity="secondary"
        label="Редактировать"
      />
      <p-button
        icon="pi pi-trash"
        [disabled]="!selectedElem()"
        text
        severity="secondary"
        (click)="openDeleteDialog()"
        label="Удалить"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    [value]="data()"
    [tableStyle]="{ 'min-width': '50rem' }"
    selectionMode="single"
    [(selection)]="selectedElem"
    dataKey="id"
  >
    <ng-template #header>
      <tr>
        @for( col of cols();track col){
        <th>{{col.name}}</th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-elem>
      <tr [pSelectableRow]="elem">
        @for( col of cols();track col){
        <td>{{elem[col.type]}}</td>
        }
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
          <td colspan="5">нет данных</td>
      </tr>
  </ng-template>
  </p-table>
</div>

<p-dialog
  [header]="mode() === 'create' ? 'Создание' : 'Редактирование'"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <app-music-event-form
    [(mode)]="mode"
    (group)="getGroup($event)"
    [(visible)]="visible"
    [(data)]="data"
    [(selectedElem)]="selectedElem"
  />
</p-dialog>

<p-confirmdialog #cd />
